* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h2 {
  font-family: "Playfair display";
}

header {
  background-color: darkseagreen;
  margin-bottom: 2%;
}

header h1 {
  padding-top: 3%;
  text-align: center;
  color: white;
  font-family: "Playfair display";
  padding-bottom: 1%;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div a.current {
  color: #476147;
}

nav div a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

nav div a:hover {
  color: #e0dddd;
}

nav div p {
  color: white;
  display: inline;
  margin: 10px;
}

nav div button {
  border: none;
  margin: 10px;
  padding: 3px 7px;
  border-radius: 5px;
}

nav div button:hover {
  background-color: #e0dddd;
}

.main-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
}

.main-main section {
  width: 45%;
  border: 2px solid darkseagreen;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 188, 143, 0.189);
}

.main-main section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.main-main section ul li {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.main-main section h2 {
  margin: 10px;
  color: #476147;
}

.main-main section p {
  margin: 3px;
}

.main-main section img {
  margin: 5px;
  height: 200px;
  border-radius: 3px;
}

.profil-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profil-main #user-info {
  text-align: center;
}

.profil-main section {
  width: 60%;
  border: 2px solid darkseagreen;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 188, 143, 0.189);
}

.profil-main section .user-info {
  max-height: 50%;
}

.profil-main section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.profil-main section ul li {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.profil-main section h2 {
  margin: 10px;
  color: #476147;
}

.profil-main section p {
  margin: 3px;
}

.profil-main section img {
  margin: 5px;
  height: 200px;
  border-radius: 3px;
}

.add-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
}

.add-main section {
  width: 45%;
  border: 2px solid darkseagreen;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 188, 143, 0.189);
}

.add-main section p {
  text-align: center;
  font-weight: bold;
  color: #476147;
}

.add-main section button {
  margin-top: 2%;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: darkseagreen;
  color: white;
}

.add-main section button:hover {
  background-color: #476147;
}

.add-main h2 {
  margin: 10px;
  color: #476147;
}

.add-main p {
  margin: 3px;
}

.logged-in {
  display: none;
}

.login {
  display: none;
  margin: 2%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login p {
  font-size: large;
  font-weight: bolder;
  margin: 1%;
}

.login div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login div button {
  margin-top: 2%;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: darkseagreen;
  color: white;
}

.login div button:hover {
  background-color: #476147;
}

#login-btn {
  border: none;
  margin: 10px;
  padding: 3px 7px;
  border-radius: 5px;
}

#login-btn:hover {
  background-color: #e0dddd;
}

.heading {
  font-size: large;
  font-weight: bold;
  color: #476147;
}
/*# sourceMappingURL=style.css.map */