*{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkseagreen;
    h1{
       padding-top: 3%;
        text-align: center;
        color: white;
    }
    nav{
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-evenly;
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   
        a{
            color: white;
            text-decoration: none;
            margin: 10px;
        }
        a:hover{
            color: rgb(224, 221, 221);
        }
    
          
            p{
                color: white;
                display: inline;
                margin: 10px;
            }
            button{
               border: none;
                margin: 10px;
                padding: 3px 7px;
                border-radius: 5px;
            }
            button:hover{
                background-color:rgb(224, 221, 221) ;
            }
        }
        
     
    }
}
main{
    display: flex;
    flex-direction: row;
    margin: 5px;
    section{
        width: 45%;
        border: 2px solid darkseagreen;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(143, 188, 143, 0.189);
        h2{
            margin: 10px;
            color: rgb(71, 97, 71);
        }
        p{
            margin: 3px;
        }
        img{
            margin: 5px;
            height: 200px;
            border-radius: 3px;
        }
    }
}

.logged-in{
    display: none;
}

